/* Coolors Exported Palette - https://coolors.co/e5d9f2-f5efff-cdc1ff-a594f9-7371fc */
/* CSS HEX 
--pale-purple: #e5d9f2ff;
--magnolia: #f5efffff;
--periwinkle: #cdc1ffff;
--tropical-indigo: #a594f9ff;
--medium-slate-blue: #7371fcff;*/
/* CSS HSL 
--pale-purple: hsla(269, 49%, 90%, 1);
--magnolia: hsla(263, 100%, 97%, 1);
--periwinkle: hsla(252, 100%, 88%, 1);
--tropical-indigo: hsla(250, 89%, 78%, 1);
--medium-slate-blue: hsla(241, 96%, 72%, 1);*/
/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
