/* Coolors Exported Palette - https://coolors.co/e5d9f2-f5efff-cdc1ff-a594f9-7371fc */

/* CSS HEX */
--pale-purple: #e5d9f2ff;
--magnolia: #f5efffff;
--periwinkle: #cdc1ffff;
--tropical-indigo: #a594f9ff;
--medium-slate-blue: #7371fcff;

/* CSS HSL */
--pale-purple: hsla(269, 49%, 90%, 1);
--magnolia: hsla(263, 100%, 97%, 1);
--periwinkle: hsla(252, 100%, 88%, 1);
--tropical-indigo: hsla(250, 89%, 78%, 1);
--medium-slate-blue: hsla(241, 96%, 72%, 1);

/* SCSS HEX */
$pale-purple: #e5d9f2ff;
$magnolia: #f5efffff;
$periwinkle: #cdc1ffff;
$tropical-indigo: #a594f9ff;
$medium-slate-blue: #7371fcff;

/* SCSS HSL */
$pale-purple: hsla(269, 49%, 90%, 1);
$magnolia: hsla(263, 100%, 97%, 1);
$periwinkle: hsla(252, 100%, 88%, 1);
$tropical-indigo: hsla(250, 89%, 78%, 1);
$medium-slate-blue: hsla(241, 96%, 72%, 1);

/* SCSS RGB */
$pale-purple: rgba(229, 217, 242, 1);
$magnolia: rgba(245, 239, 255, 1);
$periwinkle: rgba(205, 193, 255, 1);
$tropical-indigo: rgba(165, 148, 249, 1);
$medium-slate-blue: rgba(115, 113, 252, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e5d9f2ff, #f5efffff, #cdc1ffff, #a594f9ff, #7371fcff);
$gradient-right: linear-gradient(90deg, #e5d9f2ff, #f5efffff, #cdc1ffff, #a594f9ff, #7371fcff);
$gradient-bottom: linear-gradient(180deg, #e5d9f2ff, #f5efffff, #cdc1ffff, #a594f9ff, #7371fcff);
$gradient-left: linear-gradient(270deg, #e5d9f2ff, #f5efffff, #cdc1ffff, #a594f9ff, #7371fcff);
$gradient-top-right: linear-gradient(45deg, #e5d9f2ff, #f5efffff, #cdc1ffff, #a594f9ff, #7371fcff);
$gradient-bottom-right: linear-gradient(135deg, #e5d9f2ff, #f5efffff, #cdc1ffff, #a594f9ff, #7371fcff);
$gradient-top-left: linear-gradient(225deg, #e5d9f2ff, #f5efffff, #cdc1ffff, #a594f9ff, #7371fcff);
$gradient-bottom-left: linear-gradient(315deg, #e5d9f2ff, #f5efffff, #cdc1ffff, #a594f9ff, #7371fcff);
$gradient-radial: radial-gradient(#e5d9f2ff, #f5efffff, #cdc1ffff, #a594f9ff, #7371fcff);