@font-face {
    font-family: Federo;
    src: url(../fonts/Federo/Federo-Regular.ttf);
}

@font-face {
    font-family: Kite_One;
    src: url(../fonts/Kite_One/KiteOne-Regular.ttf);
}

@font-face {
    font-family: Marcellus;
    src: url(../fonts/Marcellus/Marcellus-Regular.ttf);
}

@font-face {
    font-family: Philosopher;
    src: url(../fonts/Philosopher/Philosopher-Regular.ttf);
}

@font-face {
    font-family: Philosopher-Bold;
    src: url(../fonts/Philosopher/Philosopher-Bold.ttf);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ New CSS OOCSS*/
/*+++++++++++++++++++++++++++++++ Style New CSS OOCSS*/
$pale-purple: #e5d9f2ff;
$magnolia: #f5efffff;
$periwinkle: #cdc1ffff;
$tropical-indigo: #a594f9ff;
$medium-slate-blue: #7371fcff;

.bg-palepurple {
    background-color: $pale-purple;
}

.bg-magnolia {
    background-color: $magnolia;
}

.bg-periwinkle {
    background-color: $periwinkle;
}

.bg-tropicalindigo {
    background-color: $tropical-indigo;
}

.bg-mediumslateblue {
    background-color: $medium-slate-blue;
}

.color-mediumslateblue {
    color: $medium-slate-blue;
}

.color-palepurple {
    color: $pale-purple;
}

.color-periwinkle {
    color: $periwinkle;
}

.color-tropicalindigo {
    color: $tropical-indigo;
    &:visited {
        color: $tropical-indigo;
    }
}

.c-black {
    color: #000000;
}

.b-palepurple {
    border: 1px solid $pale-purple;
}

.b-magnolia {
    border: 1px solid $magnolia;
}

.b-tropicalindigo {
    border: 1px solid $tropical-indigo;
}

.br-4 {
    border-radius: 4px;
}

.ml-20 {
    margin-left: 20px;
}

.font-federo {
    font-family: Federo;
}

.font-kiteone {
    font-family: Kite_One;
}

.font-marcellus {
    font-family: Marcellus;
}

.font-philosopher {
    font-family: Philosopher;

    &--bold {
        font-family: Philosopher-Bold;
        color: #000000;
    }
}

.t-shadow-0 {
    //color: #000000;
    //text-shadow: 2px 2px $pale-purple;
    color: $pale-purple;
    text-shadow: 1px 1px #000000;
}

.t-shadow-1 {
    color: #000000;
    text-shadow: 1px 1px $magnolia;
}

.fs-title {
    font-size: 30px;
    color: #000000;
    //color: $medium-slate-blue;
    //text-shadow: 2px 2px #000000;
    //color: $tropical-indigo;
    //text-shadow: 1px 1px $medium-slate-blue;
}

.object-fit-cover {
    object-fit: cover;
}

.wh-100x300 {
    width: 100%;
    height: 300px;
}

.fw-bold{
    font-weight: bold;
}

.fs-m {
    font-size: 20px;
}

.fs-b {
    font-size: 45px;
}

.t-center {
    text-align: center;
}

.technology {
    
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $tropical-indigo;
    color: #000000;
    background-color: $magnolia;
    font-size: 8px;

    &:not(:first-child) {
        margin-left: 10px;
    }
}

/*+++++++++++++++++++++++++++++++ Style New CSS OOCSS*/
/*+++++++++++++++++++++++++++++++ Content New CSS OOCSS*/

.navigation {
    grid-column: 3 / 5;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 90px;
    margin-bottom: 40px;

    &-opt {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 50px;
    }

}

.opt {
    
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
        background-color: $magnolia;
    }
}


.developed-software {
    grid-column: 1/6;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.header {

    &-main {
        grid-column: 3 / 3 ;
    }

    &-section {
        grid-column: 2/2;
    }
    
    &-sub {
        padding: 10px;

    }
}

.software-list {
    grid-column: 2/2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
}

.software {
    padding: 5px;
    text-align: center;
    margin: 0px 5px 30px 5px;
}

.developed-in {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 35px;
}

/*+++++++++++++++++++++++++++++++ Content New CSS OOCSS*/
/*+++++++++++++++++++++++++++++++ ID New CSS OOCSS*/

@media screen and (max-width: 464px) {
    #marlon {
        display: none;
    }
}

@media screen and (max-width: 668px) {
    #carabali {
        display: none;
    }
}

@media screen and (min-width: 669px) {
    #marlon {
        display: inline;
    }

    #carabali {
        display: inline;
    }
}
/*++++++++++++++++++++++++++++ ID EndNew CSS OOCSS*/

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ EndNew CSS OOCSS*/

@media screen and (min-width: 320px) {
    .software {
        width: 300px;
    }
}

@media screen and (min-width: 375px) { 

    .fs-title {
        font-size: 35px;
    }

}

@media screen and (min-width: 425px){
    
    #DSoftware::before {
        content:'Solicitar D.';
        margin: 4px;
    }
}

@media screen and (min-width: 768px) { 
    
    .fs-title {
        font-size: 45px;
    }

}

@media screen and (min-width: 1440px) { 

    .software {
        margin: 0px 20px 30px 20px;
    }

}