@font-face {
    font-family: Kite_One;
    src: url(../fonts/Kite_One/KiteOne-Regular.ttf);
}

@font-face {
    font-family: Marcellus;
    src: url(../fonts/Marcellus/Marcellus-Regular.ttf);
}

@font-face {
    font-family: Philosopher;
    src: url(../fonts/Philosopher/Philosopher-Regular.ttf);
}

.font-kiteone {
    font-family: Kite_One;
}

.font-marcellus {
    font-family: Marcellus;
}

.font-philosopher {
    font-family: Philosopher;
}

@mixin grid-section {
    grid-column: 1/6;
    margin-top: 80px;
}

.developed-software {
    @include grid-section;
    display: inherit;
    
}

.head-b {
    font-size: 27px;
    
    grid-column: 1/6;
    text-align: center;
}

.head-s {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.t-center {
    text-align: center;
}

.software {
    
    text-align: center;
    padding: 10px;
    background-color: white;
    margin-bottom: 40px;
    
    border-radius: 5px;

    &-collection {
        grid-column: 1/6;
        margin-top: 50px;
    }

    &-inf {
        width: 100%;
        height: 300px;
        border: 1px solid #1B03A3;
        border-radius: 0px 10px 0px 10px;
    }

    &-img {
        border-radius: 0px 10px 0px 10px;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

}

.technology {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 35px;

    &> span {
        padding: 5px;
        
        border-radius: 5px;
        border: 1px solid #1B03A3;
        color: #1B03A3;
        background-color: white;

        &:not(:first-child) {
            margin-left: 10px;
        }
    }

}

.btn {
    padding: 5px;
    width: 80%;
    margin-top: 12px;
    
    border-radius: 0px 10px 0px 10px;
    border-width: 2px;
    border-style: solid;
    border-bottom-color: #1B03A3;
    border-left-color: #4169E1;
    border-right-color: #1B03A3;
    border-top-color: #4169E1;

    cursor: pointer;
    background-color: white;

    font-size: 20px;

    &:hover {
        border-radius: 10px 0px 10px 0px;
    }
}

@media screen and (min-width: 375px) { 

    .software {
        
        width: 300px;
        text-align: center;
        padding: 10px;        
    }

    .software-collection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

}

@media screen and (min-width: 768px) { 

    .head-b{
        grid-column: 2/5;
        font-size: 45px;

    }
    
    @mixin grid-section {
        grid-column: 1/6;
        margin-top: 80px;
    }

    .software-collection{
        grid-column: 1/6;
    }
    
    .developed-software {
        @include grid-section;
        display: inherit;
    }

}