@font-face {
    font-family: Federo;
    src: url(../fonts/Federo/Federo-Regular.ttf);
}

@font-face {
    font-family: Kite_One;
    src: url(../fonts/Kite_One/KiteOne-Regular.ttf);
}

@font-face {
    font-family: Marcellus;
    src: url(../fonts/Marcellus/Marcellus-Regular.ttf);
}

@font-face {
    font-family: Philosopher;
    src: url(../fonts/Philosopher/Philosopher-Regular.ttf);
}

@font-face {
    font-family: Philosopher-Bold;
    src: url(../fonts/Philosopher/Philosopher-Bold.ttf);
}

@font-face {
    font-family: Amita;
    src: url(../fonts/Amita/Amita-Regular.ttf);
}

@font-face {
    font-family: Amita-Bold;
    src: url(../fonts/Amita/Amita-Bold.ttf);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ New CSS OOCSS*/

/* Monocromaticos #422680 */

.display { 
    
    &-none {
        display: none;
    }

}

.color-280659 {
    color: #1E1B18;
}

.color-1e1b18 {
    color: #1E1B18;

    &:visited {
        color: #1E1B18;
    }
}

.color-0a2463 {
    color: #0a2463;
}

.color-D831CA {
    color: #D831CA;
}

.color-AF2145 {
    color: #AF2145;
}

.color-7731D8 {
    color: #7731D8;
}

.color-D8315B {
    color: #D8315B;
}

.color-1e1b18 {
    color: #1e1b18;
}

.border-D8315B {
    border: 1px solid #D8315B;
}

.soon-to-be-certified {
    position: relative;
    text-align: center;
}

#certified {
    position: relative;
    bottom: 245px;
}

#devsoftware {
    position: relative;
    width: 183.23px;
    height: 40px;

    &-opt {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0px;
        z-index: 50;
        height: 40px;
        width: 183.23px;
        border: 1px solid #3E92CC;
        border-radius: 50px;

        &:hover {
            border-color: #D8315B;
            color: #3E92CC;
        }
        
    }

}

/*+++++++++++++++++++++++++++++++ Style New CSS OOCSS*/
:root {
    font-size: 16px;
}

$pale-purple: #e5d9f2ff;
$magnolia: #f5efffff;
$periwinkle: #cdc1ffff;
$tropical-indigo: #a594f9ff;
$medium-slate-blue: #7371fcff;

.br-4 {
    border-radius: 4px;
}

.borderadius-l {
    border-radius: 5px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.ml-10 {
    margin-left: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.font-federo {
    font-family: Federo;
}

.font-kiteone {
    font-family: Kite_One;
}

.font-marcellus {
    font-family: Marcellus;
}

.font-philosopher {
    font-family: Philosopher;

    &--bold {
        font-family: Philosopher-Bold;
        color: #000000;
    }
}

.t-shadow-0 {
    //color: #000000;
    //text-shadow: 2px 2px $pale-purple;
    color: $pale-purple;
    text-shadow: 1px 1px #000000;
}

.t-shadow-1 {
    color: #000000;
    text-shadow: 1px 1px $magnolia;
}

.fs-title {
    font-size: 30px;
    color: #000000;
    //color: $medium-slate-blue;
    //text-shadow: 2px 2px #000000;
    //color: $tropical-indigo;
    //text-shadow: 1px 1px $medium-slate-blue;
}

.object-fit-cover {
    object-fit: cover;
}

.fw-bold{
    font-weight: bold;
}

.fs-m {
    font-size: 20px;
}

.fs-b {
    font-size: 45px;
}

.t-center {
    text-align: center;
}

.technology {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    position: relative;
    background-color: #ffffff;
    
    margin: 4px;
    bottom: 32px;
    border: 2px solid #7731D8;
    
    font-family: Federo;

    &>img {
        color: #000000;
        font-size: 40px;
    }

}

/*+++++++++++++++++++++++++++++++ Style New CSS OOCSS*/
/*+++++++++++++++++++++++++++++++ Content New CSS OOCSS*/

.navigation {
    grid-column: 1 / 6;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 90px;
    margin-bottom: 40px;

    &-opt {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 50px;
    }

}

.opt {
    
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    box-sizing: border-box;

    &-software {
        position: absolute;
        left: 0px;
        width: 183.23px;
        height: 40px;
        
        border: 1px solid #D8315B;
        rotate: 185deg;
        border-radius: 50px;

        &:nth-child(1) {
            rotate: 175deg; 
        }
    }
}

.gridcol-3 {
    grid-column: 3 / 3 ;
}

.conocimiento {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &> li {
        padding: 10px;
        color: #1E1B18;
        border: 1px solid #ffffff;
        margin: 2px 0px 2px 0px;
        
        &:nth-child(even) {
            color: #5C21AF;
            
            &:hover {
                border: 1px solid #D8315B;
                cursor: pointer; 
            }
        }

        &:last-child {
            margin: auto;
        }

        &:hover {
            border: 1px solid #7731D8;
            cursor: pointer; 
        }
    }
}

.developed-software {
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.header {
    
    &-main {
        grid-column: 3 / 3 ;
    }

    &-section {
        grid-column: 2/2;
    }
    
    &-sub {
        padding: 10px;

    }
}

.software-list {
    grid-column: 2/2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.software {
    padding: 5px;
    text-align: center;
    margin: 0px 5px 30px 5px;
}

.img-soft {
    height: 300px;
    border: 1px solid #0A2463;
}

.developed-in {
    display: flex;
    justify-content: center;
}

.developed-on {
    display: flex;
    justify-content: center;
}

.titulacion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tit-img {
    width: 300px;
    object-fit: contain;
}

.statue {
    display: none;
}


.tit-reverse {
    transform: rotateY(180deg);
}

.width-100 {
    width: 100%;
    height: 220px;
}

.jc-spacearound {
    justify-content: space-around;
}

.certificado {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-sizing: border-box;
    margin: 0px 10px 30px 10px;
}

.cetificado-list {
    grid-column: 2/2;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}

.titulo-next {
    opacity: 0.2;
}

.foot {
    position: relative;
    grid-column: 1 / 6 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 80px;
    border: 1px solid #0A2463;
}

/*+++++++++++++++++++++++++++++++ Content New CSS OOCSS*/
/*+++++++++++++++++++++++++++++++ ID New CSS OOCSS*/

@media screen and (max-width: 464px) {
    #marlon {
        display: none;
    }
}

@media screen and (max-width: 668px) {
    #carabali {
        display: none;
    }
}

@media screen and (min-width: 669px) {
    #marlon {
        display: inline;
    }

    #carabali {
        display: inline;
    }
}

@media screen and (min-width: 696px){
    .statue {
        display: block;
    }

    #titulacion {
        grid-column: 1/6;
        
    }
}

@media screen and (min-width: 899px) and (max-width: 1200px) {
    .titulacion {
        width: 899px;
        margin: auto;
    }
}
/*++++++++++++++++++++++++++++ ID EndNew CSS OOCSS*/

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ EndNew CSS OOCSS*/

@media screen and (min-width: 320px) {
    .img-soft {
        width: 300px;
    }
}

@media screen and (min-width: 375px) { 

    .fs-title {
        font-size: 35px;
    }

}

@media screen and (max-width: 425px){
    .display-menu {
        display: none;
    }
}

@media screen and (max-width: 492px){
    .display-tecnico {
        display: none;
    }
    .experiencia {
        margin-left: 0px;
    }
}

@media screen and (min-width: 768px) { 
    
    .fs-title {
        font-size: 45px;
    }

    .navigation {
        grid-column: 2/5;
    }

}

@media screen and (min-width: 1440px) { 

    .software {
        margin: 0px 20px 30px 20px;
    }

}