@font-face {
    font-family: PTSerif-Bold;
    src: url(fonts/PT_Serif/PTSerif-Bold.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {
    --columns: 0rem 1fr 0rem;
}

body {
    margin: 0px;
}

.main-content {
    display: grid;
    grid-template-columns: var(--columns);
    grid-template-rows: auto;
}

.main-header {
    grid-column: 2/2;
    grid-row: 1/1;
}

.main-header__title {
    margin-top: 71px;

    font-family: PTSerif-Bold;
    font-size: 36px;
}

.who__title {
    font-family: Poppins-Medium;
    font-size: 18px;
    text-transform: uppercase;
}

.who__text {
    min-width: 300px;
    max-width: 333px;
    font-family: Poppins-Light;
    font-size: 14px;
}

.team {
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 64px;
}

.team__people {
    position: relative;

    width: 160px;
    height: 231px;
}

.team__people:nth-child(2n) {
    margin-top: 70px;
}

.people {
    display: flex;
    flex-direction: row;
}

.people__img {
    width: 140px;
}

.people__position {
    position: absolute;
    top: 55px;
    left: 92px;

    width: 120px;

    font-size: 10px;
    transform: rotate(90deg);
    text-transform: uppercase;    
}

.people__name {
    margin: 10px 0px 0px 0px;
    font-family: Poppins-Bold;
    font-size: 14px;
}

.created {
    margin-top: 130px;
    font-family: Montserrat;
    font-size: 14px;
    text-align: center;
    color: #A9A9A9;
}

@media screen and (min-width: 360px) {

    :root {
        --columns: 1rem 1fr 1rem;
    }
    
}

@media screen and (min-width: 520px) {

    .team__people:nth-child(2n) {
        margin-top: 0px;
    }
    
    .medium-people:nth-child(2) {
        margin: 115px 0px 0px 0px;
    }

    .medium-people {
        margin: 100px 0px 0px 0px;
    }

}

@media screen and (min-width: 680px) {

    :root {
        --columns:2rem 1fr 2rem;
    }

    .main-header {
        display: flex;
        justify-content: space-between;
    }

    .header__who {
        margin-top: 71px;
    }

    .team {
        justify-content: space-between;
    }

    .team__people {
        width: 200px;
        height: 257.89px;
    }
    
    .people__img {
        width: 180px;
    }
    
    .people__position {
        top: 55px;
        left: 130px;

        font-size: 14px;
    }
    
}

@media screen and (min-width: 860px) {

    :root {
        --columns:1rem 1fr 1rem;
    }
    
   
    .team__people {
        width: 264px;
        height: 389px;
    }
    
    .people__img {
        width: 238px;
        height: 347px;
    }
    
    .people__position {
        top: 66px;
        left: 180px;

        width: 150px;

        font-size: 16px;
    }

    .people__name {
        margin: 15px 0px 0px 0px;
        font-size: 18px;
    }
    
    .medium-people:nth-child(2) {
        margin: 140px 0px 0px 0px;
    }

    .medium-people {
        margin: 110px 0px 0px 0px;
    }

    .main-header__title {
        font-size: 36px;
    }
    
    .who__title {
        font-size: 18px;
        line-height: 27px;
    }
    
    .who__text {
        font-size: 16px;
    }

}

@media screen and (min-width: 1024px) {

    :root {
        --columns:1fr 950px 1fr;
    }

}