:host {
    grid-column: 1/6;
    //argin-top: 10rem;   
}

.software {
    
    display: flex;
    justify-content: center;
    flex-direction: column;

    &-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &>span:first-child {
            padding-right: 1.2rem;
        }
    }

    &-list {

        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 7rem;
    }
}


@media screen and (min-width: 769px) {
    
    :host {
        grid-column: 2/5;
    }    
  
}