<section class="section-skills mt-14" id="habilidades">
    <header class="federo skills-head fz-5rem">
        <h2>
            Habilidades
        </h2>
    </header>
    <ul class="skills mt-7">
        <li>PHP</li>
        <li>Laravel</li>
        <li>Angular</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Composer</li>
        <li>Flight</li>
        <li>MySQL</li>
        <li>MongoDB</li>
        <li>SQLite</li>
        <li>SQL</li>
        <li>API (RESTful, SOAP y WebSockets)</li>
        <li>Principios SOLID</li>
        <li>Estructuras de datos</li>
        <li>Algoritmos</li>
        <li>POO - Programacion orientada a objetos</li>
        <li>Patrones de diseño de software</li>
        <li>Arquitectura de software (MVC)</li>
        <li>Nginx</li>
        <li>Git</li>
        <li>GitHub</li>
        <li>GitFlow</li>
        <li>JQuery</li>
        <li>D3.js</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>SASS</li>
        <li>Metodologia BEM</li>
        <li>Metodologia OOCSS</li>
        <li>Responsive design</li>
        <li>Mobile first design</li>
        <li>Pruebas de software</li>
        <li>Scrum</li>
        <li>UML</li>
        <li>Linux</li>
        <li>C++</li>
        <li>Google Cloud</li>
        <li>Obtencion, analisis y documentacion de requerimientos</li>
    </ul>
</section>