<nav class="nav federo mb-14">
    <div class="font-bold">Portafolio profesional...</div>
    <input type="checkbox" id="nav-checkbox" class="nav-checkbox display-none" >
    <ul class="nav-links font-bold">
        <li><a href="#perfil">Perfil</a></li>
        <li><a href="#habilidades">Habilidades</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#experiencia">Experiencia</a></li>
        <li> <a href="#estudios">Estudios</a></li>
    </ul>
    <label for="nav-checkbox" class="nav-icon"><img src="./assets/img/stacks.svg" alt="menu"></label>
</nav>