<section class="section-projects">

    <article class="project-art">
        <section class="framework-tools federo">
            <span>Laravel</span>
            <span>Bootstrap</span>
            <span>Livewire</span>
        </section>
        <section class="project">
            <div class="img-soft border-1px-14080E">
                <img class="img-soft object-fit-cover br-4" src="./assets/project/computatrum/computatrum.png" alt="">
            </div>
            <div class="project-detalle">
                <h2 class="project-header federo mb-1">Computatrum Imperium</h2>
                <p class="marcellus">Aplicación web para la administración de computadores en empresas de alquiler.</p>
            </div>
        </section>
    </article>

    <article class="project-art">
        <section class="framework-tools federo">
            <span>Float CSS</span>
            <span>HTML</span>
        </section>
        <section class="project">
            <div class="img-soft border-1px-14080E">
                <img class="img-soft object-fit-cover br-4" src="./assets/project/jardineria/img/screempage.png" alt="">
            </div>
            <div class="project-detalle">
                <h2 class="project-header federo mb-1">Jardineria</h2>
                <p class="marcellus">Web responsive usando float.</p>
            </div>
        </section>
    </article>

    <article class="project-art">
        <section class="framework-tools federo">
            <span>Angular</span>
            <span>Sass</span>
        </section>
        <section class="project">
            <div class="img-soft border-1px-14080E">
                <img class="img-soft object-fit-cover br-4" src="./assets/project/portafolio/portafolio.png" alt="">
            </div>
            <div class="project-detalle">
                <h2 class="project-header federo mb-1">Portafolio Web Profesional</h2>
                <p class="marcellus">Web profesional de estiven pinillo.</p>
            </div>
        </section>
    </article>

    <article class="project-art">
        <section class="framework-tools federo"> 
            <span>Flight PHP</span>
            <span>MySQL</span>
        </section>
        <section class="project">
            <div class="img-soft border-1px-14080E">
                <img class="img-soft object-fit-cover br-4" src="./assets/project/admexpense/admexpense.png" alt="">
            </div>
            <div class="project-detalle">
                <h2 class="project-header federo mb-1">AdmExpense</h2>
                <p class="marcellus">Administración de ventas y gastos.</p>
            </div>
        </section>
    </article>

    <article class="project-art">
        <section class="framework-tools federo"> 
            <span>Retos Front End</span>
        </section>
        <section class="project">
            <div class="img-soft border-1px-14080E">
                <img class="img-soft object-fit-cover br-4" src="./assets/project/myteampage/teampage.png" alt="">
            </div>
            <div class="project-detalle">
                <h2 class="project-header federo mb-1">Devchallenges Legacy</h2>
                <p class="marcellus">Restos para desarrodores de front-end.</p>
            </div>
        </section>
    </article>

</section>