$columns: 1fr 0.5rem auto 0.5rem 1fr ;

:host{
    display: grid;
    grid-template-columns: $columns;
    font-size: 1.6rem;
}

@media screen and (min-width: 425px){

    $columns: 1fr 1rem auto 1rem 1fr ;

    :host{
        grid-template-columns: $columns;
    }    
    
}


@media screen and (min-width: 768px) {
    
    $columns: 1fr 1fr 650px 1fr 1fr ;

    :host{
        grid-template-columns: $columns;
    }
}


@media screen and (min-width: 1200px){

    $columns: 1fr 1fr 1100px 1fr 1fr ;

    :host{
        grid-template-columns: $columns;
    }
    
}