<section class="section-certificate mt-14 mb-14" id="estudios">

    <header class="federo certificate-header fz-5rem">
        <h2>
            Certificados
        </h2>
    </header>

    <section class="certificate klik mt-7">
        <article>
            <h2 class="institution-u mb-2">Tecnólogo en analisis y desarrollado de software - ADSO</h2>
            <img class="certificate-img object-fit-cover border-1px-14080E mb-4" src="./assets/certificate/tecnologo.png" alt="">
        </article>
        <article>
            <h2 class="institution-u mb-2">Técnico en programacion de software - TPS</h2>
            <img class="certificate-img object-fit-cover border-1px-14080E mb-4" src="./assets/certificate/tecnico.png" alt="">
        </article>
    </section>

    <section class="mt-5 klik">

        <h2 class="fz-3rem federo certificate-header mb-4">Complementarios</h2>
        <section class="certificate-complementary">

            <article class="complementary">
                <div class="institution caramella">UDEMY</div>
                <div class="border-1px-14080E">
                    <img class="complementary-img" src="./assets/certificate/UdemyPHP.jpg" alt="">
                </div>
                <div class="header-sub">Curso completo de PHP</div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">Microsoft + GitHub</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/GitHubUniverse.png" alt="">
                    </div>
                <div class="header-sub">GitHub Universe 2023 Cloud Skills Challenge</div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">SENA</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/MySQL.png" alt="">
                    </div>
                <div class="header-sub">Construccion de base de datos con MySQL</div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">SENA</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/disenodecasosdeuso.png" alt="">
                    </div>
                <div class="header-sub">Diseño de casos de uso</div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">SENA</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/variablesyestructutasJava.png" alt="">
                    </div>
                <div class="header-sub">
                    Variables y estructuras de control en la programacion orientada a objectos: JAVA
                </div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">SENA</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/algoritmia.png" alt="">
                    </div>
                <div class="header-sub">Principios de algoritmia</div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">SENA</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/Unity.png" alt="">
                    </div>
                <div class="header-sub">Diseño de videojuegos en tercera persona con Unity</div>
            </article>


            <article class="complementary">
                    <div class="institution caramella">Universidad Católica de Chile</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/Python.png" alt="">
                    </div>
                <div class="header-sub">
                    Introducción a la programación en Python I: Aprendiendo a programar con Python
                </div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">Deep Teaching Solutions</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/DeepLearning.png" alt="">
                    </div>
                <div class="header-sub">
                    Aprendiendo a aprender: Poderosas herramientas mentales con las que podrás dominar temas difíciles (Learning How to Learn)
                </div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">Domestika</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/GridFlexbox.png" alt="">
                    </div>
                <div class="header-sub">
                    Layout web con CSS Grid, Flexbox y otras técnicas modernas
                </div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">Domestika</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/InterfacesWeb.png" alt="">
                    </div>
                <div class="header-sub">
                    Diseño de interfaces para sitios web y aplicaciones
                </div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">Domestika</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/HTML5CSS3.png" alt="">
                    </div>
                <div class="header-sub">
                    Técnicas de desarrollo web con HTML5 y CSS3
                </div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">Domestika</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/JavaScript.png" alt="">
                    </div>
                <div class="header-sub">
                    Introducción a la programación en JavaScript
                </div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">Domestika</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/WebResponsive.png" alt="">
                    </div>
                <div class="header-sub">
                    Introducción al Desarrollo Web Responsive con HTML y CSS
                </div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">Codigo Facilito</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/PHPCodigoFacilito.png" alt="">
                    </div>
                <div class="header-sub">
                    Curso profesional de PHP
                </div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">Codigo Facilito</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/DesarrolloWeb.png" alt="">
                    </div>
                <div class="header-sub">
                    Curso profesional de Desarrollo Web
                </div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">Codigo Facilito</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/IntroduccionProgramacion.png" alt="">
                    </div>
                <div class="header-sub">
                    Curso de introducción a la programación
                </div>
            </article>

            <article class="complementary">
                    <div class="institution caramella">Codigo Facilito</div>
                    <div class="border-1px-14080E">
                        <img class="complementary-img" src="./assets/certificate/ProfesionalJava.png" alt="">
                    </div>
                <div class="header-sub">
                    Curso profesional de JAVA
                </div>
            </article>

        </section>
    </section>
</section>