<section class="section-experience mt-14 mb-14">
    <header class="federo fz-5rem color-14080E-night">
        <span>Experiencia</span>
    </header>
    <section class="experience-list mt-7">

        <article class="experience-art mb-4">
            <section class="years federo mb-1">
                <span class="border-1px-14080E" >2019</span>
                <span class="border-1px-14080E">2020</span>
            </section>
            <section class="experience border-1px-14080E">
                <div class="img-xp border-1px-14080E">
                    <img class="img-xp object-fit-contain br-4" src="./assets/experience/registel.png" alt="">
                </div>
                <div class="experience-detalle mt-1">
                    <h2 class="experience-header federo mb-1">Técnico en programación de software</h2>
                </div>
            </section>
        </article>

        <article class="experience-art mb-4">
            <section class="years federo mb-1">
                <span class="border-1px-14080E" >2021</span>
                <span class="border-1px-14080E">2021</span>
            </section>
            <section class="experience border-1px-14080E">
                <div class="img-xp border-1px-14080E">
                    <img class="img-xp object-fit-contain br-4" src="./assets/experience/acountingsuit.png" alt="">
                </div>
                <div class="experience-detalle mt-1">
                    <h2 class="experience-header federo mb-1">Técnico en programación de software</h2>
                </div>
            </section>
        </article>

        <article class="experience-art mb-4">
            <section class="years federo mb-1">
                <span class="border-1px-14080E" >2022</span>
                <span class="border-1px-14080E">2023</span>
            </section>
            <section class="experience border-1px-14080E">
                <div class="img-xp border-1px-14080E">
                    <img class="img-xp object-fit-contain br-4" src="./assets/experience/computatrumcontrol.png" alt="">
                </div>
                <div class="experience-detalle mt-1">
                    <h2 class="experience-header federo mb-1">Técnologo en analisis y desarrollo de software</h2>
                </div>
            </section>
        </article>

    </section>
</section>
