:host {
    grid-column: 3/4;
    margin: auto;
}

.header-main {
    flex-wrap: wrap;
    align-items: center;
}

@mixin DisplayNone {
    display: none;
}

@mixin DisplayInline {
    display: inline;
}

#marlon {
    @include DisplayNone;
}
#carabali {
    @include DisplayNone;
}

#tecnico {
    @include DisplayNone;
}

.professional {
    font-size: 1.4rem;
}

.little {

    &-about-me {
        font-size: 1.6rem;
        text-align: justify;
    }

    &-title {
        font-size: 1.8rem;
        text-align: center;
    }
}

@media screen and (min-width: 341px){

    .professional {
        font-size: 1.6rem;
    }

}

@media screen and (min-width: 426px) {
    :host {
        grid-column: 2/5;
        margin: auto;
    }
}

@media screen and (min-width: 426px) and (max-width: 655px){

    .header-main {
        display: flex;
        justify-content: space-evenly;
        width: 400px;
        margin: auto; 
    }
}

@media screen and (min-width: 656px){

    .header-main {
        
        display: flex;
        justify-content: space-between;
        margin: auto;   
        width: 600px; //section-perfil
    }
    
}


@media screen and (min-width: 768px) {
    #carabali {
        @include DisplayInline;
    }

    .header-main {
        width: 650px;
    }

}
