:host {
    grid-column: 3/4;
    margin: auto;
}

.section-perfil {
    flex-wrap: wrap;
    align-items: center;
}

@mixin DisplayNone {
    display: none;
}

@mixin DisplayInline {
    display: inline;
}

#marlon {
    @include DisplayNone;
}
#carabali {
    @include DisplayNone;
}

#tecnico {
    @include DisplayNone;
}

.professional {
    font-size: 1.4rem;
}

.little {

    &-about-me {
        font-size: 1.6rem;
        text-align: center;
    }

    &-title {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 341px){

    .professional {
        font-size: 1.6rem;
    }

}

@media screen and (min-width: 426px) and (max-width: 655px){
    
    .section-perfil {
        
        display: flex;
        justify-content: space-evenly;
        width: 400px;
        margin: auto;   
    }
}

@media screen and (min-width: 656px){
    
    .section-perfil {
        
        display: flex;
        justify-content: space-between;
        
        margin: auto;
        
    }

    :host {
        width: 600px;
    }
    
}


@media screen and (min-width: 768px) {
    #carabali {
        @include DisplayInline;
    }

    :host {
        width: 650px;
    }
}
