<section class="section-perfil" id="perfil">
    <header class="header-main">
        <div>
            <h1 class="federo fz-5rem">
                <span id="marlon">{{firtName}}</span> {{name}} <span id="carabali">{{lastName}}</span>
            </h1>
            <div>
                <span class="professional klik">
                    {{softwareDevelopment}}
                </span>
            </div>
            <div class="professional klik mt-03">
                <div class="">{{developmentFullStack}}</div>
            </div>
        </div>
        <app-estiven></app-estiven>
    </header>
    
    <div class="little-about-me mt-4">
        <h2 class="little-title caramella mt-2 mb-1">{{ephemeralProfile}}</h2>
        <span class="klik font-24">
            {{descriptionProfile}}
        </span>
    </div>
</section>