<section class="section-perfil" id="perfil">
    <header class="header-main">
        <h1 class="federo fz-5rem">
            <span id="marlon">Marlon</span> Estiven Pinillo <span id="carabali">Carabali</span>
        </h1>
        <div>
            <span class="professional font-bold">
                Tecnólogo en análisis y desarrollo de software
            </span>
        </div>
        <div class="professional mt-03">
            <div class="font-bold">Desarrollador web full-stack</div>
        </div>
    </header>
    <app-estiven></app-estiven>
    <div class="little-about-me mt-4">
        <h2 class="little-title federo mt-2 mb-1">Introducción efímera</h2>
        <span class="">
            Tecnólogo con formación en desarrollo de software, especializado en Laravel y Angular.js,
            aplicando principios de ingeniería de requerimientos y la norma ISO 25000.
        </span>
    </div>
</section>